<!DOCTYPE html>
<html>

<head>
    <script src="https://unpkg.com/htmx.org@1.6.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        .htmx-request {
            display: none;
        }

        .htmx-indicator {
            display: inline;
        }

        .htmx-inverted-indicator {
            display: inline;
        }

        .htmx-request .htmx-inverted-indicator {
            display: none;
        }
    </style>


</head>


<body>
    <h1>Hello World</hi>

        {% include 'search/search-form.html' %}


        {%block content%}
        {%endblock content%}
</body>

</html>