{% extends 'base.html' %}




{% block content %}

<h1>{{title}} (id:{{id}})</h1>
<p>{{content}}</p>
<a href='{% url "articles:create" %}'> create article</a>
<ul>
    {%for x in object_list %}
    {%if x.title %}


    <li><a href='{{ x.get_absolute_url }}'> {{x.title}} - {{x.content}} </a></li>



    {% endif %}
    {% endfor %}

</ul>

{% load static %}

<a href="https://eshopping.nbe.com.eg/payments/{MerchantShortName}?in_pay_token={authKey}">Proceed to payment</a>



<form class="pay-form-location" id="pay-form-location" method="POST">{% csrf_token %}
    <input type="text">

    <input class="AuthKey" id="AuthKey" type="text" value="test_test">

    <button>pay</button>
</form>


<script src="https://eshopping.nbe.com.eg/webapi/SMEOnline/api.js?v=2" type="text/javascript"></script>
<script src='{% static "index.js" %}'></script>













<canvas class="myChart" id="myChart" width="50" height="50"></canvas>



<script>
    const data = {
        labels: [
            'Red',
            'Blue',
            'Yellow'
        ],
        datasets: [{
            label: 'My First Dataset',
            data: [300, 50, 100],
            backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 205, 86)'
            ],
            hoverOffset: 4
        }]
    };

    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'doughnut',
        data: data

    })





</script>


{% endblock content %}